* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
}

.primaryButton {
  border-radius: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "RooneySansBlack";
  color: black;
  background-color: #ffd750;
  box-shadow: 0px 4.661px 4.661px 0px rgba(0, 0, 0, 0.25),
    0px 1.165px 1.165px 0px rgba(0, 0, 0, 0.7);
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d1d1b;
  padding: 20px 0;
}

body {
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

@font-face {
  font-family: "RooneySansBold";
  src: url("https://devlak2001.s3.eu-central-1.amazonaws.com/potatoPeeler/fonts/RooneySansBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "RooneySansBlack";
  src: url("https://devlak2001.s3.eu-central-1.amazonaws.com/potatoPeeler/fonts/RooneySansBlack.woff2")
    format("woff2");
}

@font-face {
  font-family: "RooneySansMedium";
  src: url("https://devlak2001.s3.eu-central-1.amazonaws.com/potatoPeeler/fonts/RooneySansMedium.woff2")
    format("woff2");
}

@font-face {
  font-family: "WedgeBrush";
  src: url("https://devlak2001.s3.eu-central-1.amazonaws.com/potatoPeeler/fonts/wedgeBrush.woff2")
    format("woff2");
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: #ffd750;
  --amplify-components-authenticator-router-background-color: #fffadc;
  --amplify-components-button-primary-color: #1d1d1b;
  --amplify-components-button-primary-focus-background-color: #ffb434;
  --amplify-components-button-primary-hover-background-color: #ffb434;
  --amplify-components-button-primary-active-background-color: #ffb434;
  --amplify-components-tabs-item-active-border-color: #ffb434;
  --amplify-components-tabs-item-hover-color: #1d1d1b;
  --amplify-components-tabs-item-active-color: #1d1d1b;
  --amplify-components-fieldcontrol-focus-border-color: #1d1d1b;
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px #1d1d1b;
  --amplify-components-button-link-color: #1d1d1b;
}

.amplify-tabs__item--active {
  border: none;
  background-color: #ffd750;
}

.username {
  position: absolute;
  left: 0;
  top: 0;
}

[data-amplify-authenticator] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

[data-amplify-authenticator] [data-amplify-container] {
  max-height: 100%;
  display: flex;
}

[data-amplify-authenticator] [data-amplify-router] {
  display: flex;
  max-height: 100%;
  overflow-y: scroll;
}
